body{
    background-color: #AFE1AF;
}

*{
    font-family: 'Varela Round', sans-serif;
}

h1 {
    font-size: 3rem; 
    text-align: left; 
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

.about-us-content {
    border: 5px solid rgba(27,77,62, 0.5);
    border-radius: 20px;
    width: 40%;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-content h1 {
    margin-bottom: 1rem;
    margin-left: 3rem;
    color: #355E3B
}

.about-us-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.about-us-content h1{
    color: #355E3B;
}

.sub-heading{
    text-decoration-thickness: 5px;
}

.about-us-text ul{
    text-align: left;
    background-color: #D9FEE5,;
}

.explore-honeydo-button {
    margin-left: 3rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #355E3B;
    color: #fff;
    font-size: 23px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  
    /* Button hover effect */
    &:hover {
      background-color: #21421E;
    }
}
  
img{
    width: 30%
}
  
#hero{
    padding-bottom: 9rem;
    padding-top: 6rem;
    border-bottom: 3px solid #1B4D3E;
}

#backstory{
    padding-bottom: 5rem;
    padding-top: 5rem;
    border-bottom: 3px solid #1B4D3E;
    background: #CCFFCC;
}

#why-honeyDo {
    background-color: #f9f9f9;
    padding: 8rem 0;
  }
  
  .why-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .why-header h1 {
    color: #333;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .why-content h3 {
    color: #555;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .why-content a {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .why-content a:hover {
    background-color: #2980b9;
  }



footer {
    background-color: #D0F0C0;
    color: #000;
    padding: 2em;
    border-top: 1px solid #21421E;
}

.footer-content {
    text-align: center;
    font-weight: bold;
}

