/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem 0;
}

.container form {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}